.App {
  background-color: #282c34;
  min-height: 100vh;
}


.login-page {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  font-size: 20px;
}

/* LOGIN PAGE */

.login-container {
  border-radius: 10px;
  background-color: white;
  width: 500px;
  height: 500px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.login {
  color: deeppink;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 10px;
}

.desc {
  color: black;
  margin-bottom: 20px;
}

/* HOME */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  height: 100px;
  background-color: #181a1f;
}

.headerCont {
  margin: 0px 20px;
  width: 150px;
  font-weight: 500;
  text-align: center;
  color: deeppink;
}

.logout {
  background-color: #181a1f;
  border-radius: 10px;
  border-width: 0px;
  height: 30px;
}

.form-container {
  border-radius: 10px;
  border-width: 10px;
  padding: 10px 15px;
  flex-direction: column;
  display: flex;
  width: 400px;
  background-color: #181a1f;
  height: 300px;
}

.form {
  flex-direction: column;
  display: flex;
  color: white;
  margin-bottom: 30px;
}

.form-row {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.form-button {
  height: 30px;
  background-color: deeppink;
  border-width: 0;
  border-radius: 5px;
  color: #181a1f;
  font-size: 17px;
}

.content-container {
  padding: 30px 70px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

h2 {
  color: deeppink;
}

.data {
  background-color: #181a1f;
  border-radius: 10px;
  padding: 35px 15px;
  width: 60%;
  background-color: #181a1f;
  margin-left: 10px;
}

.data-label {
  font-size: 15px;
  color: white;
}

.num {
  width: 8%;
}

.txt {
  width: 45%;
}

.btns {
  width: 15%;
}

.table-btn {
  width: 45%;
  height: 30px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 10px;
  margin-right: 5px;
}

input {
  width: 90%;
  height: 30px;
  background-color: #525b6b;
  border-width: 0;
  border-radius: 10px;
  color: white;
  padding: 3px;
  font-size: 16px;
}

